<html>
  <head>
    <title><%= title %></title>
    </head>
  <body>
    <form method="post">
     
        <button type="submit" formaction="/admin/addAdmins">Add Admin</button>
        <button type="submit" formaction="/admin/addInstructors">Add Instructor</button>
        <button type="submit" formaction="/admin/addCoTrainees">Add Corporate Trainee</button>

    </form>

    <script>
    </script>
  </body>

</html>