<html>
  <head>
    <title><%= title %></title>
    <style>
        .oversized{
            width: 50%;
            height: 20%;
            font-size: large;
            top:5%;
            left:5%;
            background-color: white;
            
        }
        .oversized:hover {background-color: #3e8e41}
        </style>
    </head>
  <body>
    <form method="post">
     
      <button Class="oversized"  type="submit"  onclick=func1()>csen101 , 5 hours , 3/5 ,price:50$ </button>
      <button Class="oversized" type="submit"  onclick=func2()>csen201 , 5 hours , 3/5 ,price:50$</button>
      <button Class="oversized" type="submit"  onclick=func2()>csen301 , 5 hours , 3/5 ,price:50$</button>

    </form>

    <script>
     
    </script>
  </body>

</html>