<html>
  <head>
    <title><%= title %></title>
    </head>
  <body>
    <form method="post">
     
      
      <label for="country">Choose a country:</label>
      <input type="text" name="country"/>
      <button type="submit" formaction="/instructor">Submit</button>
      <br/>
      <br/>
      <input type="text" name="searchtitle" placeholder="Search for a course by title?"/>
      <button type="submit" formaction="/instructor/searchtitle">search</button>
      <br/>
      <br/>
      <input type="text" name="searchsubject" placeholder="Search for a course by subject ?"/>
      <button type="submit" formaction="/instructor/searchsubject">search</button>
      <br/>
      <br/>
      <input type="text" name="searchinstructor" placeholder="Search for a course by instructor ?"/>
      <button type="submit" formaction="/instructor/searchinstructor">search</button>

    </form>

    <script>

    </script>
  </body>

</html>