.CourseDetails-body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)), url('../../../public/images/courseDetails.jpg') ;

    /* background-image: linear-gradient(-100deg,rgba(76, 79, 81, 0.7),rgba(3, 35, 46, 0.7)),url('../../public/images/instructor.jpg'); */

    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 753px;
    
}