.CourseDetails-body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)), url('../../../public/images/courseDetails.jpg') ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 753px;
    
}
video {
    object-fit:fill;
    width: 100%;
    height: 50%;
    position: fixed;
    z-index: -1;
    /* top: 500px; */
  }
  .coursetitle{
    position: absolute;
    top: 20%;
    left: -25%;
}