.ZeftcssDiv{
    position: relative;
     left: 5%;
     width: 90%;
     height: 25%;
     background-color: rgba(0,0,0,0.3);
     border-radius: 25px;
     margin-bottom: 1%;
}

.ZeftcssDiv{
    color: white;
}