.salama_instructor_allCourses{
    text-align: center;
}

.salama_instructor_allCourses_title{
    background-color: darkgreen;
    margin:  10px 10px;
    border-radius: 5px;
    text-align: center;
}


.salama_instructor_allCourses_others{
    background-color: tomato;
    margin:  10px 10px;
    border-radius: 5px;
    text-align: center;
} 