.salama_instructor_allCourses{
    text-align: center;
}

.salama_instructor_allCourses_title{
    background-color: darkgreen;
    margin:  10px 10px;
    border-radius: 5px;
    text-align: center;
}


.salama_instructor_allCourses_others{
    background-color: tomato;
    margin:  10px 10px;
    border-radius: 5px;
    text-align: center;
} 

.soha_viewCoursebtn
{
  background-color: transparent;
  color: #fff;
  padding: 10px 15px;
  border: 2px solid white;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  width: fit-content;
  cursor: pointer;
  position: absolute;
  top: 13%;
  right: 18%;
}
  .soha_viewCoursebtn:hover{
    background-color: #fff;
    color: black;
  }


