.CoursesBody-adham{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)), url('../../../public/images/AllCourses.jpg') ;
  background-size: 100%;

  
}
.subject{
    width: 500px;
    height: 60px;
    padding: 10px 10px;
    margin: 20px -100px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-size: 30px;
    color: #fff;
    position: relative;
    left: 10px;
  }
  .subject:focus,input:focus{
    outline: none;
  }
  .subject::placeholder{
    font-size: 1.5rem;
    color: white;
  }

  .submitbtn{
    background-color: transparent;
    color: #fff;
    padding: 15px 15px;
    border: 2px solid white;
    text-align: center;
}


.salama_instructor_allCourses_others{
    background-color: tomato;
    margin:  10px 10px;
    border-radius: 5px;
    text-align: center;
} 

.soha_viewCoursebtn
{
  background-color: transparent;
  color: #fff;
  padding: 10px 15px;
  border: 2px solid white;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  width: fit-content;
  cursor: pointer;
  position: absolute;
  top: 13%;
  right: 18%;
}
  .soha_viewCoursebtn:hover{
    background-color: #fff;
    color: black;
  }



.salama_instructor_allCourses_others{
    background-color: tomato;
    margin:  10px 10px;
    border-radius: 5px;
    text-align: center;
} 

.submitbtn{
    font-size: 20px;
    border-radius: 10px;
    width: 120px;
    cursor: pointer;
    position: relative;
    left: 600px;
  }
  .submitbtn:hover{
    background-color: #fff;
    color: black;
  }
  .AllCourses-adham {
    position: relative;
    top: 600px;
    left: 800px;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    border-radius: 15px;
    background: rgba(0,0,0,0.9);
    margin: 20px 20px;
  }
  .MyCourses-adham {
    position: relative;
    top: 280px;
    left: 800px;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    border-radius: 15px;
    background: rgba(0,0,0,0.9);
    margin: 20px 20px;
  }
.h1-adham{
  color: white;
  position: relative;
  margin-bottom: 10px;


}
.register-now-adham
{
    background-color: transparent;
    color: #fff;
    padding: 10px 10px;
    border: 2px solid white;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    width: 220px;
    cursor: pointer;
    position: relative;
    left: 350px;

}
  .register-now-adham:hover{
    background-color: #fff;
    color: black;
  }

  .opencourse-adham
{
    background-color: transparent;
    color: #fff;
    padding: 10px 10px;
    border: 2px solid white;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    width: 220px;
    cursor: pointer;
    position: relative;
    left: 350px;

}
  .opencourse-adham:hover{
    background-color: #fff;
    color: black;
  }
.h3-adham{
  color: #fff;
  position: relative;
  left: 350px;
}
.indtracou-adham{
  color: #fff;
}