/* $card-bgcolor: #171a1c;
$card-border-radius: 1rem;
$card-color: #47474e;
$card-padding: 2rem;
 */

.align{
    align-items: center;
    display: flex;
    flex-direction: row;
}
.card {
    background-color: #171a1c;
    border-radius: 1rem;
    color: #47474e;
    padding:2rem;
    font-family: Abel;
    width: 30%;
    position: relative;
    top: 60px;
    left: 50px;
    /* align-items: center;
    display: flex;
    flex-direction: row; */
}
    .card .title{
        color: #fff;
        float: left;
        font-size: 1.5rem;
    }
    .card .header{
        margin-bottom: 4rem;
    }
    .card .logo, .card .cvv{
        float: right;
    }
    .card .expiration{
        float: left;
    }

