<html>
  <head>
    <title><%= title %></title>
    </head>
  <body>
    <form method="post">
     
      
      <label for="UserName">User Name:</label>
      <input type="text" name="adminUserName"/>

      <label for="Password">Password:</label>
      <input type="password" name="adminPassword"/>
      <button type="submit" formaction="/admin/addAdmin">Add</button>

    </form>

    <script>

    </script>
  </body>

</html>