<html>
  <head>
    <title><%= title %></title>
    </head>
  <body>
    <label>search for a course ? </label>
    <input type="text" name="search"/>
    <button type="submit" formaction="/course/search">search</button>
<br>
<br>

      <label> course 1 , networks , mohamed</label><br>
      <label> course 2 , micro , nada</label><br>
      <label> course 3 , analysis , mervat</label><br>

    <form method="get">
     
    </form>
  </body>

</html>