<html>
  <head>
    <title><%=list%></title>
    </head>
  <body>
    <form method="post">
     
      
      <label for="country">Choose a country:</label>
      <input type="text" name="country"/>
      <button type="submit" formaction="/guest/selectcountry">Submit</button>

    </form>
    <ul>
        
      <% list.forEach(function(course) { %>
        
        <li> Title:<%= course.Title %> </li>
        <li><%= course.Price %></li>
        <br>
        <%});%>
      </ul>
    <script>
      // var list = "<%=list%>";
      // alert(list);

    </script>
  </body>

</html>