<html>
  <head>
    <title><%=subjects%></title>
    </head>
  <body>
    <form method="post">
     
      
      <label for="country">Choose a country:</label>
      <input type="text" name="country"/>
      <button type="submit" formaction="/indvidualTrainee/selectcountry">Submit</button>

    </form>

    <form method="post" action="/indvidualTrainee/filterBySubject">
      
      <label for="Filter" >Filter By:</label>
      <br>
  
      <label for="Subject" >Subject</label>
      <br> <br>
      <ul>
        <% subjects.forEach(function(sub) { %>
          <input id="jgj" type="radio" name='Subject' value=<%= sub %>>
          <label for="jgj" ><%= sub %></label>
          <br>
          <%});%>
      </ul>
        <input type='submit' value="submit" >
    </form>

    <form method="post" action="/indvidualTrainee/filterByRating">
      <label for="Rate" >Rating</label>
      <input id="1" type="radio" name='Rating' value='1'>
      <label for="1">1</label>
      <input id="2" type="radio" name='Rating' value='2'>
      <label for="2">2</label>
      <input id="3" type="radio" name='Rating' value='3'>
      <label for="'3">3</label>
      <input id="4" type="radio" name='Rating' value='4'>
      <label for="4">4</label>
      <input id="5" type="radio" name='Rating' value='5'>
      <label for="5">5</label>
      <input type='submit' value="submit" >

    </form>

    <form method="post" action="/indvidualTrainee/filterByPrice">
      <label for="Price" >Price</label>
      <br>
      <input id="1" type="radio" name='Price' value='0'>
      <label for="1">Free</label>
      <br>
      <input id="2" type="radio" name='Price' value='100-200'>
      <label for="2">100-200</label>
      <br>
      <input id="3" type="radio" name='Price' value='200-300'>
      <label for="'3">200-300</label>
      <br>
      <input id="4" type="radio" name='Price' value='300-400'>
      <label for="4">300-400</label>
      <br>
      <input id="5" type="radio" name='Price' value='400-500'>
      <label for="5">400-500</label>
      <br>
      <input id="6" type="radio" name='Price' value='500-'>
      <label for="6">500 - </label>
      <br>
      <input type='submit' value="submit" >

    </form>


    <script>

    </script>
  </body>

</html>