<html>
  <head>
    <title><%=subjects%></title>
    </head>
  <body>

    <form method="post">
      <label>Instructor:</label>
      <input type="text" name="instructor" />
      <label>Title:</label>
      <input type="text" name="title" />
      <label>Subject:</label>
      <input type="text" name="subject" />
      <label>Price:</label>
      <input type="text" name="price" />
      <label>Outline:</label>
      <input type="text" name="outline" />
      <label>ShortSummary:</label>
      <input type="text" name="shortsummary" />

      <br>
      <div id="div1" hidden="true">
        <Label>SUBTITLE 1:   </Label>
        <label>TotalHours:</label>
        <input type="text" name="totalhours" />
        <label>ShortDescription:</label>
        <input type="text" name="shortdescription" />
      </div>
    
    <button type="submit" formaction="/instructor/addcourse">Create Course</button>

    <input type="text" name="search" />
    <button type="submit" formaction="/instructor/searchcourse">Search Course</button>

    </form>




    <form method="get">
      
      <label for="viewtitles">viewtitles:</label>
      <button type="submit" formaction="/instructor/instructorViewtitles">Submit</button>
      <label for="filtercourses">filtercourses:</label>
      <button type="submit" formaction="/instructor/filtercourses">Submit</button>
      <label for="viewcoures">viewcourses:</label>
      <button type="submit" formaction="/instructor/instructorViewcourses">Submit</button>
      <label for="country">Choose a country:</label>
      <input type="text" name="country"/>
      <button type="submit" formaction="/instructor/selectcountry">Submit</button>
      <br/>
      <br/>
      <input type="text" name="searchtitle" placeholder="Search for a course by title?"/>
      <button type="submit" formaction="/instructor/searchtitle">search</button>
      <br/>
      <br/>
      <input type="text" name="searchsubject" placeholder="Search for a course by subject ?"/>
      <button type="submit" formaction="/instructor/searchsubject">search</button>
      <br/>
      <br/>
      <input type="text" name="searchinstructor" placeholder="Search for a course by instructor ?"/>

      <button type="submit" formaction="/instructor/searchinstructor">search</button>

    
      

      <!-- 

      <div id="div2">
        <Label>SUBTITLE 2:   </Label>
        <label>TotalHours:</label>
        <input type="text" name="totalhours2" />
        <label>ShortDescription:</label>
        <input type="text" name="shortdescription2" />
      </div>

      <div id="div3">
        <Label>SUBTITLE 3:   </Label>
        <label>TotalHours:</label>
        <input type="text" name="totalhours3" />
        <label>ShortDescription:</label>
        <input type="text" name="shortdescription3" />
      </div>

      <div id="div4">
        <Label>SUBTITLE 4:   </Label>
        <label>TotalHours:</label>
        <input type="text" name="totalhours4" />
        <label>ShortDescription:</label>
        <input type="text" name="shortdescription4" />
      </div>

      <div id="div5">
        <Label>SUBTITLE 5:   </Label>
        <label>TotalHours:</label>
        <input type="text" name="totalhours5" />
        <label>ShortDescription:</label>
        <input type="text" name="shortdescription5" />
      </div>

      <div id="div6">
        <Label>SUBTITLE 6:   </Label>
        <label>TotalHours:</label>
        <input type="text" name="totalhours6" />
        <label>ShortDescription:</label>
        <input type="text" name="shortdescription6" />
      </div> -->
   


      
    </form>

    <form method="post" action="/instructor/filterBySubject">
      
      <label for="Filter" >Filter By:</label>
      <br>
  
      <label for="Subject" >Subject</label>
      <br> <br>
      <ul>
        <% subjects.forEach(function(sub) { %>
          <input id="jgj" type="radio" name='Subject' value=<%= sub %>>
          <label for="jgj" ><%= sub %></label>
          <br>
          <%});%>
      </ul>
        <input type='submit' value="submit" >
    </form>

    <form method="post" action="/instructor/filterByRating">
      <label for="Rate" >Rating</label>
      <input id="1" type="radio" name='Rating' value='1'>
      <label for="1">1</label>
      <input id="2" type="radio" name='Rating' value='2'>
      <label for="2">2</label>
      <input id="3" type="radio" name='Rating' value='3'>
      <label for="'3">3</label>
      <input id="4" type="radio" name='Rating' value='4'>
      <label for="4">4</label>
      <input id="5" type="radio" name='Rating' value='5'>
      <label for="5">5</label>
      <input type='submit' value="submit" >

    </form>

    <form method="post" action="/instructor/filterByPrice">
      <label for="Price" >Price</label>
      <br>
      <input id="1" type="radio" name='Price' value='0'>
      <label for="1">Free</label>
      <br>
      <input id="2" type="radio" name='Price' value='100-200'>
      <label for="2">100-200</label>
      <br>
      <input id="3" type="radio" name='Price' value='200-300'>
      <label for="'3">200-300</label>
      <br>
      <input id="4" type="radio" name='Price' value='300-400'>
      <label for="4">300-400</label>
      <br>
      <input id="5" type="radio" name='Price' value='400-500'>
      <label for="5">400-500</label>
      <br>
      <input id="6" type="radio" name='Price' value='500-'>
      <label for="6">500 - </label>
      <br>
      <input type='submit' value="submit" >

    </form>
  <form method="get">

    


    </form>

    <!--<button type="submit" onclick="add()" action="addcourse">add </button>-->


   <style>

   </style>

    <!--<script>


      function add(){
        let lab = document.createElement('input');
        lab.name ="subtitle";
        lab.id="subtitle";
        document.body.appendChild(lab);
      }
      
      </script>-->

  </body>

</html>