<html>
  <head>
    <title><%= title %></title>
    </head>
  <body>
    <form method="get">
     
      
      <label for="viewtitles">viewtitles:</label>
      <label for="viewtitles">sss:</label>

    </form>

    <script>

    </script>
  </body>

</html>