<html>
  <head>
    <title><%= title %></title>
    </head>
  <body>
    <form method="get">
     
      
      <label for="viewtitles">viewtitles:</label>
      <button type="submit" formaction="/instructor/instructorViewtitles">Submit</button>
      <label for="filtercourses">filtercourses:</label>
      <button type="submit" formaction="/instructor/filtercourses">Submit</button>
      <label for="viewcoures">viewcourses:</label>
      <button type="submit" formaction="/instructor/instructorViewcourses">Submit</button>

    </form>

    <script>

    </script>
  </body>

</html>