:root {
    --primary: #fff;
  }
  
  .btn {
    color: #fff;
    font-size:medium;
    font-weight:900;
    border-radius: 2px;
    outline: none;
    border-width: 2px;
    cursor: pointer;
    text-align: center;
    height: 100%;

    /* background-image: linear-gradient(rgba(3, 48, 76, 0.94),  rgba(3, 48, 76, 0.819)), url('../../images/more.jpg') ; */
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
  }
  
  .btn--outline {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    border-radius: 1000px;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: transparent;
    color: #f6f1f1;
    transition: 250ms;
  }

.Button_Div{
  display: flex;
  flex-direction: column;
}

.Hover_Div{
  background-color: rgb(2, 39, 62);
  position:absolute;
  width: 90px;
  margin-top: 40px;
  border-radius: 15px;
  margin-left: 8px;
}

.Hover_Div1{
  background-color: rgb(3, 39, 61);
  position:absolute;
  width: 100px;
  margin-top: -22px;
  border-radius: 15px;
  margin-left: 8px;
}

.nav_linksButton{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  height: 100%;
  font-weight: bold;
  font-size: medium;
  border-radius: 15px;
}

.nav_linksButton:hover {
  background-color:rgba(255, 255, 255, 0.497);
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
  border-radius: 15px;
}