
.Admin_Body {
    background: rgb(0,10,60);
    background: linear-gradient(90deg, rgba(0,10,60,1) 0%, rgba(22,54,125,1) 37%, rgba(0,124,204,1) 100%);
background-size:cover;
background-position: center;
height: 100vh;
}



.h1_Admin_Courses {
color: rgba(255, 255, 255, 0.885);
}

/*/////////////////////////////////// Reports ///////////////////////////////////*/
.h1_Admin_Reports {
    color: white;
    font-size:60px;
    }


.Admin_OneReport_Div{
    position: relative;
    left: 2%;
    width: 40%;
    height: 25%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 25px;
}


/*/////////////////////////////////// Courses ///////////////////////////////////*/


.Admin_CoursesPage_CoursesDiv{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 8%;
    left:5%;
    bottom: 30px;
    width: 90%;
    height: 80%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;


}



.Admin_CorporateCourses_Div{
    position: relative;
    left: 3%;
    margin-top: 0%;
    width: 35%;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow-y: auto;
    max-height: 540px;
}
.Admin_CorporateCourses_Div::-webkit-scrollbar {
    width: 1.5em;
    border-radius: 15px;
  }
   
.Admin_CorporateCourses_Div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(2, 47, 82, 0.466);
    border-radius: 15px;
  }
   
.Admin_CorporateCourses_Div::-webkit-scrollbar-thumb {
    background-color: rgba(2, 98, 142, 0.871);
    outline: 1px solid rgb(0, 81, 163);
    border-radius: 15px;
  }



.Admin_AllCourses_Div{
    position: relative;
    margin-top: 3.5%;
    bottom: 29px;
    width: 57%;
    left:  5%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
    overflow-y: auto;
    max-height: 540px;
}
.Admin_AllCourses_Div::-webkit-scrollbar {
    width: 1.5em;
    border-radius: 15px;
  }
   
.Admin_AllCourses_Div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(2, 47, 82, 0.466);
    border-radius: 15px;
  }
   
.Admin_AllCourses_Div::-webkit-scrollbar-thumb {
    background-color: rgba(2, 98, 142, 0.871);
    outline: 1px solid rgb(0, 81, 163);
    border-radius: 15px;
  }

  /*/////////////////////////////////// One Course Div ///////////////////////////////////*/


  .Admin_OneCourse_Div{
    position: relative;
    left: 1%;
    width: 98%;
    height: 20%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 25px;
}

  /*/////////////////////////////////// One Course Details Div ///////////////////////////////////*/


.Admin_OneCourseDetails_Div{
  position: absolute;
  z-index: 100;
  left: 1px;
  width: 770px;
  height: 300px;
  background: rgb(0,10,60);
  background: linear-gradient(90deg, rgba(0,10,60,1) 0%, rgba(22,54,125,1) 37%, rgba(0,124,204,1) 100%);
  border-radius: 25px;
  overflow-y: auto;
  max-height: 300px;
}

.Admin_OneCourseDetails_Div::-webkit-scrollbar {
  width: 1.5em;
  border-radius: 15px;
}
 
.Admin_OneCourseDetails_Div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(2, 47, 82, 0.222);
  border-radius: 15px;
}
 
.Admin_OneCourseDetails_Div::-webkit-scrollbar-thumb {
  background-color: rgba(16, 147, 208, 0.637);
  outline: 1px solid rgb(0, 81, 163);
  border-radius: 15px;
}